<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head th:replace="~{fragments/head :: head('Dashboard')}"></head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!--begin::Header-->
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>
    <!--end::Sidebar-->
    <!--begin::Footer-->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <!--end::Footer-->
</div>

<!--start::scripts-->
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<!--end::scripts-->

</body>
<!--end::Body-->

</html>
